<div class="contact-container container-block">
   
  <h2 class="container-block-title">
    Contact
  </h2>

  <ul class="list-unstyled contact-list field">

    {% if sidebar.email %}
    <li>
      <a class="sns-btn noDecoration" href="mailto:{{ sidebar.email }}">
        <i class="sns-btn-icon fa fa-envelope w3-text-theme" aria-hidden="true"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="sns-btn noDecoration">
      <a href="tel:{{ sidebar.phone }}">
        <i class="sns-btn-icon fa fa-phone w3-text-theme" aria-hidden="true"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.whatsapp %}
    <li>
        <a class="sns-btn noDecoration" href="https://wa.me/{{ sidebar.whatsapp }}/?text=Hello%20Abdullah%20Saei">
          <i class="sns-btn-icon fa fa-whatsapp" aria-hidden="true"></i>
        </a> 
    </li>
    {% endif %} 

    {% if sidebar.website %}
    <li>
      <a class="sns-btn noDecoration" href="http://{{ sidebar.website }}" target="_blank">
        <i class="sns-btn-icon fa fa-globe-americas"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li>
      <a class="sns-btn noDecoration" href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">
        <i class="sns-btn-icon fa fa-linkedin"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li>
      <a class="sns-btn noDecoration" href="http://github.com/{{ sidebar.github }}" target="_blank">
        <i class="sns-btn-icon fa fa-github"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.gitlab %}
    <li>
      <a class="sns-btn noDecoration" href="http://gitlab.com/{{ sidebar.gitlab }}" target="_blank">
        <i class="sns-btn-icon fa fa-gitlab"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.bitbucket %}
    <li>
      <a class="sns-btn noDecoration" href="http://bitbucket.com/{{ sidebar.bitbucket }}" target="_blank">
        <i class="sns-btn-icon fa fa-bitbucket"></i>
      </a>
    </li>
    {% endif %}
  <!--
    {% if sidebar.twitter %}
    <li>
      <a class="sns-btn noDecoration" href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">
        <i class="sns-btn-icon fa fa-twitter"></i>
      </a>
    </li>
    {% endif %}
  -->

    {% if sidebar.stack-overflow %}
    <li>
      <a class="sns-btn noDecoration" href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }}" target="_blank">
        <i class="sns-btn-icon fa fa-stack-overflow"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.codewars %}
    <li>
      <a class="sns-btn noDecoration" href="https://www.codewars.com/users/{{ sidebar.codewars }}/completed_solutions" target="_blank">
        <i class="sns-btn fa fa-code"></i>
      </a>
    </li>
    {% endif %}

    {% if sidebar.goodreads %}
    <li>
      <a class="sns-btn noDecoration" href="https://www.goodreads.com/user/show/{{ sidebar.goodreads }}" target="_blank">
        <i class="sns-btn fa fa-goodreads-g"></i>
      </a>
    </li>
    {% endif %}

  </ul>

</div><!--//contact-container-->