{% assign sidebar = site.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container w3-round-large w3-center w3-shadow">

    {% if sidebar.avatar %}
    <img class="avatar w3-card-2 w3-circle" src="{{ site.baseurl }}/img/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="profileName">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h2 class="profileTagline">{{ sidebar.tagline }}</h2>
    {% endif %}

    <p><button class="BtnDownload noDecoration"><a href="https://github.com/AbdullahSaei/Latex-CV/raw/main/CV_AbdullahSaei.pdf" download="CV_AbdullahSaei.pdf"><i class="fa fa-cloud-download w3-margin-right w3-text-theme" aria-hidden="true"></i>Download my CV</a></button></p>

  </div><!--//profile-container-->

  {% include contact.html %}
  {% include language.html %}
  {% include interests.html %}


</div><!--//sidebar-wrapper-->