{% assign sidebar = site.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/img/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="profileName">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h2 class="profileTagline">{{ sidebar.tagline }}</h2>
    {% endif %}

    <p><button class="BtnDownload"><a href="/img/CV_AbdullahSaei.pdf" download="CV_AbdullahSaei"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download my CV</a></button></p>

  </div><!--//profile-container-->
  <h2>Contacts: </h2>
  {% include contact.html %}
  {% include language.html %}
  {% include interests.html %}


</div><!--//sidebar-wrapper-->